.all-clinic-container {
    .location-href {
        display    : flex;
        align-items: center;

        .icon-home {
            color: blue;
        }

        .location-href-text {}
    }

    .title-all-clinic {
        margin: 16px 0;

        .title-all-clinic-text {
            font-size  : 20px;
            font-weight: bold;
        }
    }

    .all-clinic-item {
        display       : flex;
        flex-direction: column;

        &:hover {
            cursor: pointer;
        }

        .img-clinic {
            border       : 3px solid #ccc;
            height       : 150px;
            width        : 260px;
            object-fit   : contain;
            border-radius: 4px;
        }

        .name-clinic {
            display        : flex;
            justify-content: center;
            padding-top    : 8px;

            .name-clinic-text {

                font-weight: 500;
            }
        }

    }

}

@media screen and (max-width: 576px) {
    .all-clinic-container {
        .all-clinic-item {
            .img-clinic {
                height: 120px;
                width : 220px;

            }

        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .all-clinic-container {
        .all-clinic-item {
            .img-clinic {
                height: 120px;
                width : 220px;
            }

        }
    }
}