.navigation-bar {
    height          : 40px;
    background-color: rgb(49, 116, 240);


    .nav-content-left {


        .nav-item {
            height         : 100%;
            border-right   : 2px solid rgb(196, 191, 191);
            display        : flex;
            align-items    : center;
            padding        : 0 16px;
            position       : relative;
            min-width      : 120px;
            justify-content: center;

            span {

                color          : white !important;
                text-decoration: none !important;
            }

            .sub-menu,
            .sub-menu-long {
                z-index            : 100;
                display            : none;
                position           : absolute;
                top                : 100%;
                left               : 0;
                background-color   : #ededed;
                // padding         : 0.5rem;
                box-shadow         : 0 2px 4px rgba(0, 0, 0, 0.1);
                width              : 130%;

                .wrapper-link {
                    width  : 100%;
                    padding: 0.5rem;

                    &:hover {
                        background-color: #ccc;
                    }

                    a {
                        text-decoration: none;
                        color          : #000;
                        line-height    : 32px;
                        width          : 100% !important;
                        font-size      : 0.9rem;
                    }


                }


            }

            .sub-menu-long {
                width: 180%;

            }

            &:hover {
                cursor: pointer;
            }

            &:hover .sub-menu {
                display       : flex;
                flex-direction: column;

            }

        }
    }

    .nav-content-right {
        margin-right: 8px;
        display     : flex;
        gap         : 14px;
        align-items : center;
        color       : white;

        .hello-user {
            cursor: text;
        }

        .change-language {
            cursor : pointer;
            display: flex;
            gap    : 6px;

            .lang-vi,
            .lang-en {
                opacity: 0.8;

                &.active {
                    opacity: 1;
                    color  : orange;
                }
            }


        }

        .icon-logout {
            display    : flex;
            align-items: center;
            font-size  : 1.2rem;
            cursor     : pointer;
        }
    }
}