body {
    margin     : 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav {
    height             : 100%;
    max-height         : 460px;
    // overflow        : hidden;
    background-color   : rgb(237, 255, 250);

    .nav-container {

        position: relative;

        .nav-items {
            .img-logo {
                cursor: pointer;
            }

            align-items: center;
            gap        : 4px;

            a {
                text-align     : center;
                text-decoration: none;
                font-size      : 19px;
                color          : black;
                padding        : 4px 8px;
                min-width      : 140px;
            }

            a:hover {
                cursor: pointer;
            }

            a.active {
                color           : white;
                background-color: rgb(255 196 25);
                border-radius   : 20px;
                font-weight     : 700;
            }


            .logo {
                height: 44px;
                width : 100%;
            }

            .content-nav-right {


                .help-contact {
                    width      : 60%;
                    align-items: center;
                    gap        : 4px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .change-language {

                    width: 40%;

                    .language-vi,
                    .language-en {
                        opacity: 0.2;

                        &:hover {
                            cursor : pointer;
                            opacity: 1;

                        }
                    }

                    .active {
                        opacity: 1;
                        color  : orange;
                    }
                }


            }

        }

        .nav-link-items {
            align-items: center;
            gap        : 4px;

        }

        .banner-background {
            height: 320px;
            width : 100%;
        }

        .banner-slide {

            width: 100%;

            .banner-carousel {

                .carousel {
                    position: absolute;
                    top     : 96px;
                    left    : 0;
                    width   : 100%;

                    .carousel-inner {
                        border-radius: 32px;
                        height       : 100%;

                        .carousel-item {
                            max-height: 400px;
                            width     : 100%;
                            inset     : 0px;
                            object-fit: cover;
                            color     : transparent;

                            .img-carousel {
                                width: 100%;
                            }

                        }
                    }
                }
            }


        }

    }

}

.banner-spacing {
    height: 80px;
}

@media screen and (max-width: 576px) {
    .banner-spacing {
        height: 40px;
    }

    .top-nav {
        max-height: 350px;


        .nav-container {
            .nav-items {
                position      : relative;
                flex-direction: column;
                align-items   : unset !important;

                .img-logo {
                    .logo {
                        width: 168px;
                    }
                }

                .nav-link-items {
                    display        : flex;
                    justify-content: space-between;
                    flex-wrap      : wrap;


                    a {
                        font-size: 16px;
                        min-width: 100px;
                    }

                    .search-input {
                        width : 100%;
                        margin: 4px 8px;
                    }
                }

                .content-nav-right {
                    position: absolute;
                    top     : 10px;
                    right   : 0;
                }
            }

            .wrapper-banner-slide {
                .banner-slide {
                    .banner-carousel {
                        .carousel {
                            position       : absolute;
                            top            : 166px;
                            // margin-right: 16px;
                            left           : 20px;
                            width          : 92%;

                            .carousel-inner {
                                .carousel-item {
                                    overflow: hidden !important;

                                    // max-height: 230px;
                                    .img-carousel {
                                        width        : 100%;
                                        height       : 200px;
                                        border-radius: 32px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }

}

@media screen and (min-width: 577px) and (max-width: 1200px) {
    .nav-container {
        margin   : 0 !important;
        max-width: 100% !important;

        .nav-items {
            position      : relative;
            flex-direction: column;
            align-items   : unset !important;

            .img-logo {
                .logo {
                    width: 168px;
                }
            }

            .nav-link-items {
                display        : flex;
                justify-content: space-evenly;
                flex-wrap      : wrap;


                a {
                    font-size: 16px;
                    min-width: 100px;
                }

                .search-input {
                    width : 100%;
                    margin: 4px 8px;
                }
            }

            .content-nav-right {
                position: absolute;
                top     : 10px;
                right   : 0;
            }
        }

        .wrapper-banner-slide {
            .banner-slide {
                .banner-carousel {
                    .carousel {
                        position    : absolute;
                        top         : 166px;
                        margin-right: 16px;
                        padding     : 0 24px;

                        .carousel-inner {
                            .carousel-item {
                                overflow: hidden !important;

                                // max-height: 230px;
                                .img-carousel {
                                    width        : 100%;
                                    height       : 350px;
                                    border-radius: 32px;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}