body {
    margin     : 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav {
    height          : 100%;
    overflow        : hidden;
    background-color: rgb(237, 255, 250);

    .nav-container {

        .img-logo {
            cursor: pointer;
        }

        align-items: center;
        gap        : 4px;

        a {
            text-align     : center;
            text-decoration: none;
            font-size      : 19px;
            color          : black;
            padding        : 4px 8px;
            min-width      : 140px;
        }

        a:hover {
            cursor: pointer;
        }

        a.active {
            color           : white;
            background-color: rgb(255 196 25);
            border-radius   : 20px;
            font-weight     : 700;
        }


        .logo {
            height: 44px;
            width : 100%;
        }

        .content-nav-right {


            .help-contact {
                width: 60%;

                &:hover {
                    cursor: pointer;
                }
            }

            .change-language {

                width: 40%;

                .language-vi,
                .language-en {
                    opacity: 0.2;

                    &:hover {
                        cursor : pointer;
                        opacity: 1;

                    }
                }

                .active {
                    opacity: 1;
                    color  : orange;
                }
            }


        }
    }

}