.container-sidebar {
    .sidebar {
        background: #3174F0;
        color     : #fff;
        min-height: 100vh;
        height    : 100%;
        width     : 250px;
        transition: all 0.5s;
        box-shadow: -5px 0 5px 10px rgba(0, 0, 0, 0.3);

        .top_section {
            display    : flex;
            align-items: center;
            padding    : 20px 15px;

            .logo {
                font-size: 30px;
            }

            .bars {
                display    : flex;
                font-size  : 25px;
                margin-left: 50px;
            }
        }

        .link {
            display        : flex;
            color          : #fff;
            padding        : 10px 12px;
            gap            : 15px;
            transition     : all 0.5s;
            text-decoration: none;
        }

        .link:hover {
            background: lightskyblue;
            color     : #000;
            transition: all 0.5s;
        }

        .active {
            background: lightskyblue;
            color     : #000;
        }

        .icon,
        .link_text {
            font-size: 20px;
        }
    }
}