.preview-img-wrapper {
    .label-upload {
        padding: 5px;
        border-radius: 4px;
        background: #ddd;
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
    .preview-image {
        height: 50px;
        width: 100%;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.table {
    .table-header {
        background-color: #04aa6d;
        color: #fff;
    }
    .icon-action-edit {
        color: orange;
    }
    .icon-action-delete {
        color: red;
    }
    .icon-action-edit:hover,
    .icon-action-delete:hover {
        cursor: pointer;
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading-spinner {
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}