// New and Popular blog
.slider-blog-content {
    padding-top: 20px;
    padding-bottom: 30px;
    .title {
        margin-bottom: 32px;
        .btn-view-more {
            background-color: gainsboro;
            padding: 8px;
            border-radius: 0px;
            border: none;
            .text-btn-view-more {
                font-size: 16px;
                color: black;
                font-weight: 600;
            }
        }
    }
    .slick-slider {
        .slick-arrow {
            z-index: 10;
            box-shadow: 0 0 5px rgba(201, 236, 240, 0.5);
            border-color: rgb(181, 231, 237);
            border-radius: 30px;
            width: 40px;
            height: 40px;
            padding-top: 2px;
        }
        .slick-prev:before,
        .slick-next:before {
            color: rgb(52, 146, 158);
            font-size: 40px;
        }
        .slick-disabled {
            display: none !important;
        }
    }
}

.blog-item {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(241, 241, 241);
    margin: 0px 10px;
    .wrapper-img-blog {
        background-color: rgb(255, 255, 255);
        position: relative;
        padding-top: 50%;
        width: 100%;
        overflow: hidden;
        /* Chiều cao tối đa của div */
        .img-blog {
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0px;
            object-fit: cover;
            color: transparent;
            max-height: 100%;
        }
    }
    .detail {
        font-size: 80%;
    }
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blog-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

//Handbook
.handbook-item {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(241, 241, 241);
    margin: 0px 10px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.handbook-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.content-handbook {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}