// New and Popular blog
.slider-blog-content {
    padding-top: 20px;
    padding-bottom: 30px;
    .title {
        margin-bottom: 32px;
    }
    .slick-slider {
        .slick-arrow {
            z-index: 10;
            box-shadow: 0 0 5px rgba(201, 236, 240, 0.5);
            border-color: rgb(181, 231, 237) !important;
            border-radius: 30px;
            padding-top: 2px;
            background-color: #0e7163;
        }
        .slick-prev:before,
        .slick-next:before {
            color: rgb(255 255 255) !important;
        }
        .slick-next {
            right: -13px;
        }
        .slick-prev {
            left: -35px;
        }
        .slick-disabled {
            display: none !important;
        }
    }
}

.blog-item {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(241, 241, 241);
    margin: 0px 10px;
    .wrapper-img-blog {
        background-color: rgb(255, 255, 255);
        position: relative;
        padding-top: 50%;
        width: 100%;
        overflow: hidden;
        /* Chiều cao tối đa của div */
        .img-blog {
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0px;
            object-fit: cover;
            color: transparent;
            max-height: 100%;
        }
    }
    .items-new {
        height: 88px;
        // @media screen and (max-width: 270px) {
        //     height: 110px;
        // }
        .detail {
            font-size: 80%;
        }
    }
    .items-relevant {
        height: 98px;
        // @media screen and (max-width: 270px) {
        //     height: 110px;
        // }
        .detail {
            font-size: 80%;
        }
    }
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blog-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}