<!-- Mục lục -->
<div class='catalogue'>
    <li><a href="#section1">Section1</a></li>
    <li><a href="#section2">Section2</a>
        <ol className='level2'>
            <li><a href="#subsection2.1">Subsection1</a></li>
            <li><a href="#subsection2.2">Subsection2</a></li>
            <li><a href="#subsection2.3">Subsection3</a></li>
        </ol>
    </li>
</div>

<!-- Nội dung thường -->
<p class='text-content'>Content</p>

<!-- Section: Id phải khớp với href của mục lục -->
<h2 id="section1" class='heading'>SectionTitle1</h2>
<h2 id="section2" class='heading'>SectionTitle2</h2>

<!-- Subsection(Con của Section): Id phải khớp với href của mục lục -->
<h3 id='subsection2.1' class='subsection'>1. Subsection2.1</h3>
<h3 id='subsection2.2' class='subsection'>2. Subsection2.2</h3>

<!-- Nội dung lớn nhưng không có trên mục lục -->
<h2 class='subsection'>BigContent</h2>

<!-- List liệt kê với từ khóa in đậm mở đầu -->
<ul class='list'>
    <li class='text-content'><span class='text-bold'>Key1:</span> Content1</li>
    <li class='text-content'><span class='text-bold'>Key2:</span> Content2</li>
</ul>

<!-- List chứa list con -->
<ul class='list'>
    <li class='text-content'>Item1</li>
    <li class='text-content'>Item2
        <ul>
            <li class='text-content'>Child1ofItem2</li>
            <li class='text-content'>Child2ofItem2</li>
        </ul>
    </li>
</ul>

<!-- Hình ảnh và caption của hình ảnh đó -->
<figure class='text-center'>
    <img alt='img-element' src='linkImg.png' class=' text-content w-100' />
    <figcaption>CaptionOfImg</figcaption>
</figure>