.home-container {
    min-height: 800px !important;
}

.doctor-wrapper {
    width     : 100%;
    overflow  : hidden;
    position  : relative;
    text-align: center;

    .background-doctors {
        width : 100%;
        height: fit-content;
    }

}