.container-404 {
    .opp {
        font-size  : 18px;
        font-weight: bold;
    }

    .btn-back-home {
        display    : flex;
        align-items: center;
        color      : #000 !important;
    }
}