// Global css
.mr17 {
    margin-right: 17px;
}

.app-container {
    height: 100vh;

    .scroll-bars {
        div:has(.custom-thumb-vertical) {
            right: 0px !important;
        }

        div:has(.top-nav) {
            // padding-right: 17px !important;
            // margin-right: 0px !important;

        }

        .custom-thumb-vertical {
            border-radius   : inherit;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}